<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jefferson Games</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_produtos.css}">


</head>

<body>

    <div class="menu">
        <nav>
            <ul class="lista">
                <li> <a class="menu2" href="/">Home</a> </li>

            </ul>
        </nav>
    </div>
    <div>


        <div class="divform">
            <form class="areaform" method="POST">
                <fieldset>
                    <legend>
                        <h2>Cadastrar novo jogo</h2>
                    </legend>
                    Nome do produto: <input type="text" name="nome"><br />
                    Valor:$ <input type="number" step="any" name="valor" value="0.0"><br />
                    <button type="submit">Cadastrar </button>
                </fieldset>
            </form>



        </div>


    </div>

    <div class="erro" th:each="erros : ${erros}">
        <h2 th:text="${erros}"></h2>

    </div>

    <div class="mensagem" th:each="mensagem : ${mensagens}">
        <h2 th:text="${mensagem}"></h2>
    </div>

    <div>
        <h1>Lista de jogos</h1>
        <p>_____________________________</p>

        <div th:each="produto : ${produtos}">

            <a th:href="@{/{id}(id=${produto.id}) }">
                <h2 th:text="${'Nome: '+produto.nome}"></h2>
            </a>

            <p th:text="Valor---+ ${produto.valor}"></p>
            <p>______________________________</p>

        </div>
    </div>

</body>

</html>